<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 	<!-- 别名 -->
 	<typeAliases>
 		<!-- <typeAlias type="com.hmx.entity.Account" alias="account"></typeAlias> -->
 		<typeAlias type="com.jiangbo.ssm.domain.User" alias="user"></typeAlias>
<!--  		<typeAlias type="com.hmx.entity.BoardManager" alias="boardManager"></typeAlias>
 		<typeAlias type="com.hmx.entity.Topic" alias="topic"></typeAlias>
 		<typeAlias type="com.hmx.entity.Post" alias="post"></typeAlias>
 		<typeAlias type="com.hmx.entity.User" alias="user"></typeAlias>
 		<typeAlias type="com.hmx.entity.LoginLog" alias="loginLog"></typeAlias> -->
 	</typeAliases>	
 </configuration>
